// 
// user-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;

$color-1: #000;
$color-2: #fff;
$color-3: #c0f5f9;
$color-4: #e576c6;
$color-5: #dce8ef;
$color-6: #dceeff;
