<!doctype html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
    "title": "Dashkit"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
    @@if (sidebarSize == 'base' || demoMode) {
    @@include("partials/sidebar.html", {
    "category": "pages",
    "subcategory": "project",
    "page": "project-reports.html"
    })
    }
    @@if (sidebarSize == 'small' || demoMode) {
    @@include("partials/sidebar-sm.html", {
    "category": "pages",
    "subcategory": "project",
    "page": "project-reports.html"
    })
    }
    }
    @@if (navPosition == 'topnav' || demoMode) {
    @@include("partials/topnav.html", {
    "category": "pages",
    "subcategory": "project",
    "page": "project-reports.html"
    })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content cf-inventory-cta">

      @@if (navPosition == 'combo' || demoMode) {
      @@include("partials/topbar.html")
      }

      <!-- HEADER -->
      <div class="header">
        <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <a href="/inventory-list-cf.html" class="back-button"></a>

              </div>
              <div class="col ml-n3 ml-md-n2">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Inventory
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  2019 BMW M4 Competition
                </h1>

              </div>
              <div class="col-12 col-md-auto mt-3 mt-md-0 active-toggle">
                <span class="active-toggle__label">Active Listing</span>
                <input class="active-toggle__input" type="checkbox">

              </div>
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">

                <!-- Nav -->
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="/inventory-edit-cf.html" class="nav-link">
                      Preview
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-heading-cf.html" class="nav-link">
                      Heading
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-photos-cf.html" class="nav-link">
                      Photos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-pricing-cf.html" class="nav-link">
                      Pricing
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-cta-cf.html" class="nav-link active">
                      Call To Action
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-features-cf.html" class="nav-link">
                      Features
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/" class="nav-link">
                      Description
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/" class="nav-link">
                      Card Callout
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
        <div class="row inventory-cta-cf-header">
          <div class="col-12 col-xl-6">
            <h2 class="">
              Call to action
            </h2>
            <p class="gray-text">Select a standard call to action for  your vehicle display page. Make sure to assign a proper phone number and link to the CTA button.</p>
          </div>
          <div class="col-12 col-xl-6 d-flex justify-content-center justify-content-xl-end align-items-center">
              <a href="#" class="btn btn-primary">Save Changes</a>
          </div>

        </div>

        <div class="row">
            
          <div class="col-12 col-lg-6 col-xl-4 cf-inventory-cta__card-container">
            <input id="card-toggle" class="cf-inventory-cta__card-toggle" type="checkbox">
            <div class="card cf-inventory-cta__card">
              <div class="card-body cf-inventory-cta__card-body">
                <div class="cf-inventory-cta__card-icon">
                  <img src="/src/assets/img/cf/ctas/cta-steeringwheel.svg" alt="Take a Spin">
                </div>
                <div class="cf-inventory-cta__card-text">
                  <p>Ready to take it for a spin?</p>
                </div>
                <a href="#" class="btn cf-inventory-cta__btn">Schedule test drive</a>
              </div>
            </div>

          </div>


          <div class="col-12 col-lg-6 col-xl-4">
            <input id="card-toggle" class="cf-inventory-cta__card-toggle" type="checkbox">
            <div class="card cf-inventory-cta__card">
              <div class="card-body cf-inventory-cta__card-body">
                <div class="cf-inventory-cta__card-icon">
                  <img src="/src/assets/img/cf/ctas/cta-magnify.svg" alt="Take a Spin">
                </div>
                <div class="cf-inventory-cta__card-text">
                  <p>Want to take a closer look?</p>
                </div>
                <a href="#" class="btn cf-inventory-cta__btn">Make an appointment</a>
              </div>
            </div>

            </div>

            <div class="col-12 col-lg-6 col-xl-4">
            <input id="card-toggle" class="cf-inventory-cta__card-toggle" type="checkbox">
            <div class="card cf-inventory-cta__card">
              <div class="card-body cf-inventory-cta__card-body">
                <div class="cf-inventory-cta__card-icon">
                  <img src="/src/assets/img/cf/ctas/cta-tire.svg" alt="Take a Spin">
                </div>
                <div class="cf-inventory-cta__card-text">
                  <p>Want to kick some tires?</p>
                </div>
                <a href="#" class="btn cf-inventory-cta__btn">Make an appointment</a>
              </div>
            </div>

            </div>

            <div class="col-12 col-lg-6 col-xl-4">
            <input id="card-toggle" class="cf-inventory-cta__card-toggle" type="checkbox">
            <div class="card cf-inventory-cta__card">
              <div class="card-body cf-inventory-cta__card-body">
                <div class="cf-inventory-cta__card-icon">
                  <img src="/src/assets/img/cf/ctas/cta-calendar.svg" alt="Take a Spin">
                </div>
                <div class="cf-inventory-cta__card-text">
                  <p>Want to come in and see it?</p>
                </div>
                <a href="#" class="btn cf-inventory-cta__btn">Make an appointment</a>
              </div>
            </div>

            </div>

            <div class="col-12 col-lg-6 col-xl-4">
            <input id="card-toggle" class="cf-inventory-cta__card-toggle" type="checkbox">
            <div class="card cf-inventory-cta__card">
              <div class="card-body cf-inventory-cta__card-body">
                <div class="cf-inventory-cta__card-icon">
                  <img src="/src/assets/img/cf/ctas/cta-questions.svg" alt="Take a Spin">
                </div>
                <div class="cf-inventory-cta__card-text">
                  <p>Ask us anything!</p>
                </div>
                <a href="#" class="btn cf-inventory-cta__btn">Reach out with questions</a>
              </div>
            </div>

            </div>

            <div class="col-12 col-lg-6 col-xl-4">
            <input id="card-toggle" class="cf-inventory-cta__card-toggle" type="checkbox">
            <div class="card cf-inventory-cta__card">
              <div class="card-body cf-inventory-cta__card-body">
                <div class="cf-inventory-cta__card-icon">
                  <img src="/src/assets/img/cf/ctas/cta-text.svg" alt="Take a Spin">
                </div>
                <div class="cf-inventory-cta__card-text">
                  <p>Want to chat?</p>
                </div>
                <a href="#" class="btn cf-inventory-cta__btn">Shoot us a text!</a>
              </div>
            </div>

            </div>

        </div>

        <div class="row">

          <div class="col-12 col-lg-6">
            <h3>Button link destination:</h3>
            <div class="input-group input-group-merge">
              <input type="text" class="form-control form-control-appended" placeholder="Enter Destination">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="input-action input-action__heading-title"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <h3>Phone number</h3>
            <div class="input-group input-group-merge">
              <input type="text" class="form-control form-control-appended" placeholder="Enter Phone Number">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="input-action input-action__heading-title"></span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>
