<!doctype html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
    "title": "Dashkit"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
    @@if (sidebarSize == 'base' || demoMode) {
    @@include("partials/sidebar.html", {
    "category": "pages",
    "subcategory": "project",
    "page": "project-reports.html"
    })
    }
    @@if (sidebarSize == 'small' || demoMode) {
    @@include("partials/sidebar-sm.html", {
    "category": "pages",
    "subcategory": "project",
    "page": "project-reports.html"
    })
    }
    }
    @@if (navPosition == 'topnav' || demoMode) {
    @@include("partials/topnav.html", {
    "category": "pages",
    "subcategory": "project",
    "page": "project-reports.html"
    })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content cf-inventory-pricing">

      @@if (navPosition == 'combo' || demoMode) {
      @@include("partials/topbar.html")
      }

      <!-- HEADER -->
      <div class="header">
        <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <a href="/inventory-list-cf.html" class="back-button"></a>

              </div>
              <div class="col ml-n3 ml-md-n2">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Inventory
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  2019 BMW M4 Competition
                </h1>

              </div>
              <div class="col-12 col-md-auto mt-3 mt-md-0 active-toggle">
                <span class="active-toggle__label">Active Listing</span>
                <input class="active-toggle__input" type="checkbox">

              </div>
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">

                <!-- Nav -->
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="/inventory-edit-cf.html" class="nav-link">
                      Preview
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-heading-cf.html" class="nav-link">
                      Heading
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-photos-cf.html" class="nav-link">
                      Photos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-pricing-cf.html" class="nav-link active">
                      Pricing
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-cta-cf.html" class="nav-link">
                      Call To Action
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-features-cf.html" class="nav-link">
                      Features
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/" class="nav-link">
                      Description
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/inventory-callout-cf.html" class="nav-link">
                      Card Callout
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
        <div class="row inventory-pricing-cf-header">
          <div class="col-12 col-xl-6">
            <h2 class="">
              Vehicle Pricing
            </h2>
            <p class="gray-text">Adjust your vehicle price and sort your incentives.  The top 3 incentives will be visible in the initial view.</p>
          </div>
          <div class="col-12 col-xl-6 d-flex justify-content-center justify-content-xl-end align-items-center">
              <a href="#" class="btn btn-primary">Save Changes</a>
          </div>

        </div>

        <div class="row vehicle-pricing__container">
            <div class="col-12">

              <div class="vehicle-pricing__price">
                <h3 class="">Price</h3>
                <div class="row">

                  <div class="col-12 col-lg-3 vehicle-pricing__price-item">
                    <h6 class="text-uppercase text-muted">Cost</h6>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control form-control-appended" placeholder="Enter Cost">
                      <span class="input-group__price">$</span>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="input-action input-action__heading-title"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-3 vehicle-pricing__price-item">
                    <h6 class="text-uppercase text-muted">MSRP / Retail Price</h6>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control form-control-appended" placeholder="Enter MSRP / Retail Price">
                      <span class="input-group__price">$</span>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="input-action input-action__heading-title"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-3 vehicle-pricing__price-item">
                    <h6 class="text-uppercase text-muted">Internet Price</h6>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control form-control-appended" placeholder="Enter Internet Price">
                      <span class="input-group__price">$</span>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="input-action input-action__heading-title"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-3 vehicle-pricing__price-item">
                    <h6 class="text-uppercase text-muted">Incentives Effect Pricing</h6>
                    
                    <!-- <div class="active-toggle">
                      <input class="active-toggle__input" type="checkbox" checked>
                    </div> -->

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                      <label class="form-check-label" for="flexCheckIndeterminate">
                      </label>
                    </div>

                  </div>

                </div>
              </div>

              <div class="vehicle-pricing__incentives">
                <div class="vehicle-pricing__incentives-header">
                  <h3 class="">Incentives</h3>
                  <div class="vehicle-pricing__incentives-header-toggle">
                    <label class="vehicle-pricing__incentives-header-toggle-item">
                      <input type="checkbox">
                      <span data-unchecked="ES" data-checked="EN"></span>
                      <div class="vehicle-pricing__incentives-header-toggle-label">ES</div>
                      <div class="vehicle-pricing__incentives-header-toggle-label">EN</div>
                    </label>
                  </div>
                </div>
                <h6 class="text-uppercase text-muted">Visible On Initial Page Load</h6>
            
                  <div class="vehicle-pricing__items vehicle-pricing__items--featured rounded">

                    <div class="vehicle-pricing__item drag-item">
                      
                        <div class="col-auto vehicle-pricing__card">
                          <!-- Label -->
                          <div class="vehicle-pricing__feature-label">
                            <h4>Incentive Title 1</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam adipisci consectetur! Amet vero placeat harum similique asperiores repudiandae odio sit amet consectetur adipisicing elit.</p>
                          </div>
                          <!-- Control Bar -->
                          <div class="vehicle-pricing__controls d-flex align-items-center">
                            <div class="vehicle-pricing__control vehicle-pricing__control--drag">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g><circle class="st0" cx="9" cy="9" r="5"></circle> <circle class="st0" cx="24" cy="9" r="5"></circle> <circle class="st0" cx="39" cy="9" r="5" class="st0"></circle> <circle class="st0" cx="9" cy="24" r="5"></circle> <circle cx="24" cy="24" r="5" class="st0"></circle> <circle class="st0" cx="39" cy="24" r="5"></circle> <circle cx="9" cy="39" r="5" class="st0"></circle> <circle class="st0" cx="24" cy="39" r="5"></circle> <circle cx="39" cy="39" r="5" class="st0"></circle></g></svg>
                            </div>
                          </div>
                        </div>         
                      
                    </div>
                    
                    <div class="vehicle-pricing__item drag-item">
                      
                      <div class="col-auto vehicle-pricing__card">
                        <!-- Label -->
                        <div class="vehicle-pricing__feature-label">
                          <h4>Incentive Title 2</h4>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam adipisci consectetur! Amet vero placeat harum similique asperiores repudiandae odio sit amet consectetur adipisicing elit.</p>
                        </div>
                        <!-- Control Bar -->
                        <div class="vehicle-pricing__controls d-flex align-items-center">
                          <div class="vehicle-pricing__control vehicle-pricing__control--drag">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g><circle class="st0" cx="9" cy="9" r="5"></circle> <circle class="st0" cx="24" cy="9" r="5"></circle> <circle class="st0" cx="39" cy="9" r="5" class="st0"></circle> <circle class="st0" cx="9" cy="24" r="5"></circle> <circle cx="24" cy="24" r="5" class="st0"></circle> <circle class="st0" cx="39" cy="24" r="5"></circle> <circle cx="9" cy="39" r="5" class="st0"></circle> <circle class="st0" cx="24" cy="39" r="5"></circle> <circle cx="39" cy="39" r="5" class="st0"></circle></g></svg>
                          </div>
                        </div>
                      </div>         
                    
                  </div>

                  <div class="vehicle-pricing__item drag-item">
                      
                    <div class="col-auto vehicle-pricing__card">
                      <!-- Label -->
                      <div class="vehicle-pricing__feature-label">
                        <h4>Incentive Title 3</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam adipisci consectetur! Amet vero placeat harum similique asperiores repudiandae odio sit amet consectetur adipisicing elit.</p>
                      </div>
                      <!-- Control Bar -->
                      <div class="vehicle-pricing__controls d-flex align-items-center">
                        <div class="vehicle-pricing__control vehicle-pricing__control--drag">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g><circle class="st0" cx="9" cy="9" r="5"></circle> <circle class="st0" cx="24" cy="9" r="5"></circle> <circle class="st0" cx="39" cy="9" r="5" class="st0"></circle> <circle class="st0" cx="9" cy="24" r="5"></circle> <circle cx="24" cy="24" r="5" class="st0"></circle> <circle class="st0" cx="39" cy="24" r="5"></circle> <circle cx="9" cy="39" r="5" class="st0"></circle> <circle class="st0" cx="24" cy="39" r="5"></circle> <circle cx="39" cy="39" r="5" class="st0"></circle></g></svg>
                        </div>
                      </div>
                    </div>         
                  
                </div>

                </div> 

                <div class="vehicle-pricing__items">

                  <div class="vehicle-pricing__item drag-item">
                    
                      <div class="col-auto vehicle-pricing__card">
                        <!-- Label -->
                        <div class="vehicle-pricing__feature-label">
                          <h4>Incentive Title 4</h4>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam adipisci consectetur! Amet vero placeat harum similique asperiores repudiandae odio sit amet consectetur adipisicing elit.</p>
                        </div>
                        <!-- Control Bar -->
                        <div class="vehicle-pricing__controls d-flex align-items-center">
                          <div class="vehicle-pricing__control vehicle-pricing__control--drag">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g><circle class="st0" cx="9" cy="9" r="5"></circle> <circle class="st0" cx="24" cy="9" r="5"></circle> <circle class="st0" cx="39" cy="9" r="5" class="st0"></circle> <circle class="st0" cx="9" cy="24" r="5"></circle> <circle cx="24" cy="24" r="5" class="st0"></circle> <circle class="st0" cx="39" cy="24" r="5"></circle> <circle cx="9" cy="39" r="5" class="st0"></circle> <circle class="st0" cx="24" cy="39" r="5"></circle> <circle cx="39" cy="39" r="5" class="st0"></circle></g></svg>
                          </div>
                        </div>
                      </div>         
                    
                  </div>
                  
                  <div class="vehicle-pricing__item drag-item">
                    
                    <div class="col-auto vehicle-pricing__card">
                      <!-- Label -->
                      <div class="vehicle-pricing__feature-label">
                        <h4>Incentive Title 5</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam adipisci consectetur! Amet vero placeat harum similique asperiores repudiandae odio sit amet consectetur adipisicing elit.</p>
                      </div>
                      <!-- Control Bar -->
                      <div class="vehicle-pricing__controls d-flex align-items-center">
                        <div class="vehicle-pricing__control vehicle-pricing__control--drag">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g><circle class="st0" cx="9" cy="9" r="5"></circle> <circle class="st0" cx="24" cy="9" r="5"></circle> <circle class="st0" cx="39" cy="9" r="5" class="st0"></circle> <circle class="st0" cx="9" cy="24" r="5"></circle> <circle cx="24" cy="24" r="5" class="st0"></circle> <circle class="st0" cx="39" cy="24" r="5"></circle> <circle cx="9" cy="39" r="5" class="st0"></circle> <circle class="st0" cx="24" cy="39" r="5"></circle> <circle cx="39" cy="39" r="5" class="st0"></circle></g></svg>
                        </div>
                      </div>
                    </div>         
                  
                </div>

                <div class="vehicle-pricing__item drag-item">
                    
                  <div class="col-auto vehicle-pricing__card">
                    <!-- Label -->
                    <div class="vehicle-pricing__feature-label">
                      <h4>Incentive Title 6</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam adipisci consectetur! Amet vero placeat harum similique asperiores repudiandae odio sit amet consectetur adipisicing elit.</p>
                    </div>
                    <!-- Control Bar -->
                    <div class="vehicle-pricing__controls d-flex align-items-center">
                      <div class="vehicle-pricing__control vehicle-pricing__control--drag">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g><circle class="st0" cx="9" cy="9" r="5"></circle> <circle class="st0" cx="24" cy="9" r="5"></circle> <circle class="st0" cx="39" cy="9" r="5" class="st0"></circle> <circle class="st0" cx="9" cy="24" r="5"></circle> <circle cx="24" cy="24" r="5" class="st0"></circle> <circle class="st0" cx="39" cy="24" r="5"></circle> <circle cx="9" cy="39" r="5" class="st0"></circle> <circle class="st0" cx="24" cy="39" r="5"></circle> <circle cx="39" cy="39" r="5" class="st0"></circle></g></svg>
                      </div>
                    </div>
                  </div>         
                
              </div>

              </div> 

              </div>             

            </div>
        </div>

      </div>

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>
